{{ define "main" }}
<section class="section mt-n3 pb-5">
  <div class="row justify-content-center mt-n1">
    <div class="col-lg-9 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
      <p class="lead">{{ .Params.Lead | safeHTML }}</p>
      <!--a class="btn btn-dark btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | absURL }}" role="button"></a-->
      <p class="meta"></p>
    </div>
  </div>
</section>
<section class="section container-fluid">

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mt-0">Hafzan Osmanoglu</h1>
            <p class="lead">Hello, my name is Hafzan Osmanoglu. I am a researcher in the fields of Economics, Investment analysis, Geo-politics, Neo-Colonialism, Religion and Software Development,. 
              I had the opportunity to work with some incredible colleagues and organizations. While I am proud of my accomplishments, I am always striving to learn and grow as a professional.
              I am grateful for the opportunity to contribute my skills and knowledge to any team or project </p>
        </div>
    </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>

{{ end }}

{{ define "sidebar-footer" }}


<div class="d-flex justify-content-end">
  <div class="bg-dots bg-dots-md"></div>
</div>


<section class="section section-sm mt-1 pt-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <h2 class="h3 mt-1 text-center">My latest blogs</h2>
        <div class="card-list">
        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog")  -}}
        <div class="card">
          <div class="card-body">
            <h2 class="h3"><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
            <p>{{ .Params.lead | safeHTML }}</p>
            {{ partial "main/blog-meta.html" . -}}
          </div>
        </div>
        {{ end -}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
